// Non-modular or client styles for .l-footer region.
#footer-wrapper {
  background-color: $black;
  color: $white;
}
footer#footer {
  padding: 60px 0;
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(mediumplus) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .footer-container {
    max-width: 1000px;
    margin: 0 auto;
    @include breakpoint(mediumplus) {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    .region-footer_first {
      text-align: center;
      padding-bottom: 50px;
      @include breakpoint(mediumplus) {
      padding-bottom: 0px;
        width: 50%;
        min-width: 430px;
        text-align: left;
      }
    }
    .single-branch.block-contact {
      @include breakpoint(mediumplus) {
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
      .main-contact-data {
        @include breakpoint(medium down) {
          margin-bottom: 50px;
        }
      }
      .main-contact-data,
      .field-name-field-extra-main-contact-fields {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 1.4;
      }
      .field-name-field-company-name {
        margin-bottom: 4px;
      }
      .base-contact-fields {
        p {
          margin-bottom: 4px;
        }
      }
      .field-name-field-extra-main-contact-fields {
        p.paragraph  {
          margin-bottom: 4px;
        }
      }
      a {
        @include transition(all .25s ease-in-out);
        color: $white;
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
    .region-footer_middle {
      padding-bottom: 50px;
      @include breakpoint(mediumplus) {
        max-width: 25%;
        padding-bottom: 0;
      }
      text-align: center;
      .linkicon {
        justify-content: center;
        -webkit-justify-content: center;
        li {
          padding: 6px 10px;
          a {
            display: block;
            font-size: 26px;
            line-height: 1;
            color: $white;
            @include transition(all .25s ease-in-out);
            &:hover, &:focus {
              color: $primary-color;
            }
          }
        }
      }
    }
    .region-footer_last {
      text-align: center;
      @include breakpoint(mediumplus) {
        text-align: right;
        max-width: 25%;
      }
    }
    ul.menu {
      -webkit-justify-content: center;
      justify-content: center;
      @include breakpoint(mediumplus) {
        display: inline-block;
        text-align: left;
      }
      li {
        display: block;
      }
      a {
        display: block;
        padding: 0 10px;
        line-height: 1.4;
        margin-bottom: 4px;
        font-size: 14px;
        text-transform: lowercase;
        color: $white;
        @include transition(all .25s ease-in-out);
        @include breakpoint(smallplus) {
           font-size: 16px;
        }
        @include breakpoint(360) {
           font-size: 15px;
        }
        @include breakpoint(mediumplus) {
           padding: 0;
        }
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
  }
}
