// Non-modular or client styles for .l-header region.
#header-wrapper {
  position: relative;
  &::before {
    @include breakpoint(mediumplus) {
      content: "";
      height: 100%;
      position: absolute;
      top: 0; 
      left: 0;  
      background-color: $black;
      width: calc((100% - 1170px) / 2);
      min-width: 30px;
      z-index: 8;
    }
    @include breakpoint(large) {
      height: calc(100% + 15px);
    }
  }
  header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}

#header {
  .region-header {
    display: flex;
    position: relative;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    @include breakpoint(medium down) {
      padding-left: 15px;
      padding-right: 15px;
      background-color: $black;
    }
  }
    .block-system-branding-block {
        padding-left: 15px;
        padding-right: 15px;
        padding-top:  45px;
        padding-bottom: 35px; 
        background-color: $black;
        position: relative;
        z-index: 9;
        @include breakpoint(mediumplus) {
          padding-right: 20px;
          padding-top: 45px;
          padding-bottom: 30px;
        }
        a {
          display: block;
          svg {
            display: block;
            max-width: 230px;
            height: 59.25px;
          }
        }
        @include breakpoint(largemin) {
          padding-right: 30px;
        }
        @include breakpoint(large) {
          padding-top: 60px;  
          padding-right: 45px;
          padding-bottom: 40px; 
          margin-bottom: -15px;
          a {
            svg {
              max-width: 264px;
              height: 68px;
            }
          }
        }
    }
    .block-base-main-menu {
      position: relative;
      z-index: 9;
      @include breakpoint(largemin down) {
        padding-right: 10px;
      }
      ul.menu {
        &>li {
          &>a {
            font-weight: $global-weight-normal;
            transition: color .25s ease-out;
            text-transform: lowercase;
            font-size: 15px;
            color: $menu-color;
            padding: 0.7rem .7rem;
            @include breakpoint(largemin) {
              padding: 0.7rem 1rem;
              font-size: 1em;
            }
            @include breakpoint(large) {
              padding: 0.7rem 1.4rem;
              font-size: 1.125em;
            }
            &>span {
              position: relative;
              &:after {
                content: '';
                display: none;
                background-color: $primary-color;
                height: 2px; 
                position: absolute;
                bottom: 0px; 
                right: 0;
                width: 27px;
              }
            }
            &.is-active {
              font-weight: $global-weight-bold;
              font-style: italic;
              &>span {
                &:after {
                  display: block;
                }
              }
            }
            &:hover, &:focus {
              color: $primary-color;
            }
          }
          &:last-child {
            &> a {
              padding-right: 15px;
            }
          }
        }
      }
    }
}



.block-base-main-menu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
}
.block-nav-toggle {
  padding-right: 10px;
  padding-top: 10px;
  .menu-button {
    padding: 10px;
  }
}


