.region-right_off_canvas {
  padding-top: 71.2px;
}
.region-right_off_canvas {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	.right_off_canvas-logo {
		height: 100px;
		display: flex;
		padding: 30px;
		-ms-align-items: center;
		-webkit-align-items: center;
		align-items: center;
		a {
			display: inline-block;
			vertical-align: middle;
			svg {
				display: block;
			}
		}
	}
	.block-mainnavigation {
		margin-top: auto;
		margin-bottom: auto;
		.is-drilldown {
			margin-left: auto;
			margin-right: auto;
		}
		.menu.vertical li {
			text-align: center;
			margin-bottom: 20px;	
			a {
				text-align: center;
				background-color: transparent;
				color: $menu-color;
				font-size: 18px;
				letter-spacing: .1em;
				font-weight: $global-weight-normal;
				transition: color .25s ease-out;
				text-transform: lowercase;
				display: flex;
				-webkit-justify-content: center;
				justify-content: center;
				&:after {
					content: '';
					display: block;
					background-color: $primary-color;
					height: 2px; 
					bottom: 0px; 
					right: 0;
					width: 27px;
					margin-top: auto;
					margin-left: -27px;
					position: relative;
					top: 4px;
					opacity: 0;
				}
				&.is-active {
					color: $menu-color;
					font-weight: $global-weight-bold;
					font-weight: $global-weight-bold;
					font-style: italic;
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}


html.menu-show,
body.menu-show {
	height: 100%;
	overflow: hidden; 
}
// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}