// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin transition($t) {
    transition: $t;
    -ms-transition: $t;
    -o-transition: $t;
    -moz-transition: $t;
    -webkit-transition: $t;
}
@mixin placeholder($color, $opacity) {
   &::-moz-placeholder {
     color: $color;
     opacity: $opacity;
     font-style: italic;
   }
   &::-webkit-input-placeholder {
     opacity: $opacity;
     color: $color;
     font-style: italic;
   }
   &:-ms-input-placeholder {
     font-style: italic;
     opacity: $opacity;
     color: $color;
   }
   &::-ms-input-placeholder {
     font-style: italic;
     opacity: $opacity;
     color: $color;
   }
   &:focus {
       &::-moz-placeholder {
       opacity: 1;

     &::-webkit-input-placeholder {
       opacity: 1;
     }
     &:-ms-input-placeholder {
       opacity: 1;
     }     }
     &::-ms-input-placeholder {
       opacity: 1;
     }
   }
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform:    $property;
  -ms-transform:     $property;
  -o-transform:      $property;
  transform:         $property;
}
@mixin padding-top-bottom($size:false) {
  padding-top: 45px;
  padding-bottom: 45px;
  @include breakpoint(mediumplus) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include breakpoint(large) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include breakpoint(xlarge) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @if $size==130 {
    padding-top: 45px;
    padding-bottom: 45px;
    @include breakpoint(mediumplus) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include breakpoint(large) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @include breakpoint(xlarge) {
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }
}
@mixin padding-top($size:false) {
  padding-top: 45px;
  @include breakpoint(mediumplus) {
    padding-top: 50px;
  }
  @include breakpoint(large) {
    padding-top: 75px;
  }
  @include breakpoint(xlarge) {
    padding-top: 90px;
  }
  @if $size==130 {
    padding-top: 45px;
    @include breakpoint(mediumplus) {
      padding-top: 60px;
    }
    @include breakpoint(large) {
      padding-top: 90px;
    }
    @include breakpoint(xlarge) {
      padding-top: 130px;
    }
  }
}
@mixin padding-bottom($size:false) {
  padding-bottom: 45px;
  @include breakpoint(mediumplus) {
    padding-bottom: 50px;
  }
  @include breakpoint(large) {
    padding-bottom: 75px;
  }
  @include breakpoint(xlarge) {
    padding-bottom: 90px;
  }
  @if $size==130 {
    padding-bottom: 45px;
    @include breakpoint(mediumplus) {
      padding-bottom: 60px;
    }
    @include breakpoint(large) {
      padding-bottom: 90px;
    }
    @include breakpoint(xlarge) {
      padding-bottom: 130px;
    }
  }
}
@mixin h2 {
  font-size: 28px;
  @include breakpoint(370) {
    font-size: 34px;
  }
  @include breakpoint(mediumplus) {
    font-size: 37px;
  }
}