{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  <ul class="tabs" data-tabs id="example-tabs">
  {% for item in items %}
      {% set idli = 'panel' ~ loop.index %}
      {% set idlihash = '#panel' ~ loop.index %}
      {% if (loop.index == 1 ) %}
        {% set active = 'is-active' %}
      {% else %}
        {% set active = '' %}
      {% endif %}
    <li class="tabs-title {{ active }}">
    <a href="{{ idlihash }}" aria-selected="true" data-tabs-target="{{ idli }}">{{ item.content['#paragraph'].field_title.value }}</a>
    </li>
{% endfor %}
</ul>
<div class="field-items tabs-content mobile-hide" data-tabs-content="example-tabs">
  {% for item in items %}
  {% set idli = 'panel' ~ loop.index %}
    {% if (loop.index == 1 ) %}
        {% set active = 'is-active' %}
        {% else %}
            {% set active = '' %}
        {% endif %}
        <div id="{{ idli }}" class="field-item tabs-panel {{ active }}">{{ item.content }}</div>
  {% endfor %}
  </div>


<ul class="accordion desktop-hide" data-responsive-accordion-tabs="accordion">
  {% for item in items %}
    {% set idli = 'panel' ~ loop.index %}
    {% set idlihash = '#panel' ~ loop.index %}
    {% if (loop.index == 1 ) %}
      {% set active = 'is-active' %}
    {% else %}
      {% set active = '' %}
    {% endif %}
    <li class="accordion-item" data-accordion-item>
      <a href="{{ idlihash }}" class="accordion-title"><span>{{ item.content['#paragraph'].field_title.value }}</span></a>
        {% set idli = 'panel' ~ loop.index %}
    {% if (loop.index == 1 ) %}
        {% set active = 'is-active' %}
        {% else %}
            {% set active = '' %}
        {% endif %}
      <div class="accordion-content" data-tab-content>
        {{ item.content }}
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
