.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
  padding: $button-padding;
  border: 2px solid $primary-color;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  font-size: rem-calc(14);
  background-color: $primary-color;
  &:hover, &:focus {
    background-color: $body-font-color;
    color: $white;
  }
}

.burger-icon {
  @include burger(24px, 3px, 6px, #89868F, 3px);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}
.button.secondary {
  background-color: $black;
  color: $white;
  &:hover, &:focus {
    background-color: $primary-color;
    color: $black;
  }
}


.cat-caption .field-name-field-link {
  a {
    font-size: 21px;
    font-family: $body-second-font;
    font-weight: 300;
    text-transform: uppercase;
    color: $black;
    background-color: $white;
    line-height: 1;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    @include transition(all .25s ease-in-out);
    max-width: 260px;
    &:hover, &:focus {
      background-color: $primary-color;
    }
  }
}


