.basic-page-header {
  .main-contact-data {
    margin-bottom: 50px;
    line-height: 1.4;
    padding-top: 20px;
    .field-name-field-company-name {
      margin-bottom: 4px;
    }
    .base-contact-fields {
      p {
        margin-bottom: 4px;
      }
    }
  }
  .field-name-field-extra-main-contact-fields {
    p {
      line-height: 1.4;
      margin-bottom: 4px;
    }
    a {
      color: $body-font-color;
      @include transition(all .25s ease-in-out);
      &:hover, &:focus {
        color: $primary-color;
      }
    }
  }
}

.block.contact-data.full {
  p {
    margin-bottom: 0;
  }
}

.paragraph--type--branch {
  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus) {
    height: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}

.paragraph--type--form {
  &> .paragraph-caontainer {
    max-width: 1000px;
    margin: 0 auto;
    @include padding-top-bottom;
    &> .paragraph-content {
      @include breakpoint(mediumplus) {
        display: flex;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-align-items: center;
        align-items: center;
      }
    }
  }
  .title-wrapper {
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    @include breakpoint(mediumplus) {
      width: 48%;
      padding-left: 15px;
      padding-right: 25px;
    }
    h2 {
      line-height: 1.2;
    }
  }
  .field-name-field-form {
    padding-left: 30px;
    padding-right: 30px;
    @include breakpoint(mediumplus) {
    width: 52%;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
    form {
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @include breakpoint(mediumplus) {
        max-width: 410px;
      }
      .form-item {
        width: 100%;
        margin-bottom: 10px;
        label {
          font-size: 16px;
        }
        [type="text"], 
        [type="password"], 
        [type="date"], 
        [type="datetime"], 
        [type="datetime-local"], 
        [type="month"], 
        [type="week"], 
        [type="email"], 
        [type="number"], 
        [type="search"], 
        [type="tel"], 
        [type="time"], 
        [type="url"], 
        [type="color"] {
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: $gray-border;
          box-shadow: none;
          outline: none;
          height: 45px;
          font-size: 20px;
          background-color: transparent;
          padding: 6px 0 6px;
          color: $black;
          @include placeholder($black, 1);
        }
        textarea {
          font-size: 20px;
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: $black;
          color: $black;
          background-color: transparent;
          box-shadow: none;
          outline: none;
          padding-top: 10px;
          padding-left: 0;
          padding-right: 0;
          @include placeholder($black, 1);
          padding-bottom: 10px;
        }
        &.js-form-type-checkbox {
          margin-bottom: 25px;
          label {
            font-size: 16px;
            line-height: 1.2;
            display: flex;
            margin-right: 0;
          }
          input + label::before {
            margin-top: 1px;
            border-color: $gray-border;
            min-width: 16px;
            min-height: 16px;
            max-width: 16px;
            max-height: 16px;
          }
        }
      }
      .captcha {
        width: 244px;
        height: 63px;
        .g-recaptcha {
          -webkit-transform: scale(.8);
          -ms-transform: scale(.8);
          transform: scale(.8);
          -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
          transform-origin: left top;
        }
      }
      .form-actions {
        margin-left: auto;
        .button.form-submit {
          background-color: $primary-color;
          color: $white;
          text-transform: uppercase;
          font-weight: normal;
          font-family: $body-second-font;
          font-size: 17px;
          line-height: 1;
          border: none;
          @include transition(all .25s ease-in-out);
          &:hover, &:focus {
            background-color: $black;
          }
        }
      }
    }
}
