.home.full {
	h1 {
		font-size: rem-calc(16);
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: 300;
		font-family: $body-second-font;
		letter-spacing: 2.2px;
		padding-bottom: 6px;
		@include breakpoint(medium) {
			font-size: rem-calc(18);
		}
	}
	h2 {
		line-height: 1.2;
		margin-bottom: 15px;
		@include breakpoint(mediumplus) {
			font-size: rem-calc(30);
		}
		@include breakpoint(large) {
			font-size: rem-calc(37);
		}
	}
	.page-header {
		max-width: $global-width;
	    margin: 0 auto;
	}
	.scroll-wrapper {
		right: 0;
		bottom: 0;
		z-index: 2;
		text-align: center;
		width: 45px;
		@include breakpoint(mediumplus) {
			height: 145px;
			width: 130px;
			position: absolute;
		}
		.scroll-down {
			padding: 17px 13px;	
			display: inline-block;
			cursor: pointer;
		}
		.text {
			width: 13px;
			height: 42px;
			position: relative;
			display: block;
			margin-right: 6px;
			span {
				font-size: 13px;
				@include transform(rotate(-90deg));
				line-height: 1;
				font-family: $body-second-font;
				font-weight: 300;
				letter-spacing: 1.75px;
				display: block;
				width: 42px;
				height: 13px;
				position: absolute;
				top: 14px;
				left: -14px;
			}
		}
		.line-arrow {
			display: block;
			height: 34px;
			width: 11px;
			margin: 10px auto 0;
			background-image: url("icons/arrowstij.svg");
			background-size: 11px 34px;
		}
	}
}
