.page.full {
  header {
    max-width: $global-width;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(mediumplus) {
      @include grid-col-gutter();
    }
    .page-header-inner {
      background-color: $light-gray;
      figure {
        img {
          width: 100%;
          height: auto;
        }
        @include breakpoint(mediumplus) {
          display: flex;
          -webkit-align-items: center;
          align-items: center;
        }
        .image-wrapper {
          @include breakpoint(mediumplus) {
            width: 48%;
            margin-left: -48%;
            margin-top: -35px;
            padding-bottom: 50px;
            background-color: $white;
          }
        }
        figcaption {
          padding-left: 30px;
          padding-right: 30px;
          @include breakpoint(medium down) {
            padding-top: 40px;
            padding-bottom: 40px;
          }
          @include breakpoint(mediumplus) {
            padding-left: 25px;
            padding-right: 25px;
            max-width: 1000px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
          .page-header-caption {
            &::before {
              width: 190px;
              content: "";
              display: block;
              padding-top: 2px;
              background-color: #ff7000;
              margin-bottom: 25px;
            }
            @include breakpoint(mediumplus) {
              width: 50%;
              max-width: 410px;
            }
            h1 {
              line-height: 1.2;
              margin-bottom: 20px;

            }
          }
          &.without-image {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 60px;
            padding-bottom: 100px;
            margin-bottom: -100px;
            background-color: $light-gray;
            .page-header-caption {
              padding-left: 30px;
              padding-right: 30px;
              @include breakpoint(mediumplus) {
              padding-left: 25px;
              padding-right: 25px;
                max-width: 1000px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
        }
      }
    }
  }
}