.field-name-field-paragraphs {
  &>.field-items {
    &> .paragraph {
        @include grid-row();
        @include breakpoint(mediumplus) {
          padding-left: 15px;
          padding-right: 15px;
        }
        &.paragraph--type--call-to-action {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          max-width: 100%;
        }
        &.paragraph-container {
        }
    }
  }
}

.paragraph--type--quote-title-text {
  &>.paragraph-container{
    @include padding-top-bottom;
    background-color: $light-gray;
    &> .paragraph-content {
        max-width: 1000px;
        margin: 0 auto;
        @include breakpoint(mediumplus) {
          display: flex;
          -webkit-align-items: center;
          align-items: center;
        }
        &> .field-wrapper {
          padding-left: 30px;
          padding-right: 30px;
          @include breakpoint(mediumplus) {
            padding-left: 25px;
            padding-right: 25px;
            width: 50%;
          }
          &.field-name-field-title {
            @include h2;
            line-height: 1.2;
            &>.field-items {
              padding-bottom: 35px;
              @include breakpoint(mediumplus) {
                max-width: 10em;
                padding-bottom: 0;
              }
            }
          }
          &.field-name-field-text {
          }
        }
    }
  }
  &.option-image-right {
    &>.paragraph-container {
      &> .paragraph-content {
        @include breakpoint(mediumplus) {
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
        }
      }
    }
  }
  &+ .paragraph--type--slider {
    &>.paragraph-container{
      position: relative;
      &::before {
        content: '';
        background-color: $light-gray;
        width: 100%;
        padding-bottom: 145px;
        margin-bottom: -145px;
        top: 0;
        display: block;
      }
      &> .paragraph-content {
        position: relative;
        &::before {
          content: "";
          width: 190px;
          left: -15px;
          top: -2px;
          border-bottom: 2px solid $primary-color;
          display: block;
          position: absolute;
          @include breakpoint(large) {
            left: -30px;
          }
        }
      }
    }
  }
}


.paragraph--type--slider {
  &>.paragraph-container{
    @include padding-bottom;
    &> .paragraph-content {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 15px;
        @include breakpoint(mediumplus) {
          padding: 0 25px;
        }
    }
  }
}


.paragraph--type--quote {
    &>.paragraph-container {
      padding-bottom: 30px;
      @include breakpoint(medium down) {
        padding-bottom: 60px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .field-name-field-title {
      font-size: 29px;
      line-height: 1.2;
      text-align: center;
      @include breakpoint(medium) {
        font-size: 29px;
      }
    }
}

.paragraph--type--homelinks {
    @include padding-bottom;
    @include breakpoint(medium down) {
      padding-bottom: 0;
    }
    &>.paragraph-container {
      background-color: $light-gray;
      padding-top: 75px;
      padding-bottom: 75px;
    }
    .field-name-field-links {
      .field-items {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        @include breakpoint(medium) {
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;
        }
        .field-link {
          padding-top: 40px;
          padding-bottom: 40px;
          @include breakpoint(medium) {
            padding-left: 15px;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 15px;
          }
          @include breakpoint(mediumplus) {
            padding-left: 30px;
            padding-right: 30px;
          }
          @include breakpoint(large) {
            padding-left: 40px;
            padding-right: 40px;
          }
          @include breakpoint(xlarge) {
            padding-left: 50px;
            padding-right: 50px;
          }
          &:not(:last-child) {
            @include breakpoint(smallplus down) {
              border-bottom: 2px solid $primary-color;
            }
            @include breakpoint(medium) {
              border-right: 2px solid $primary-color;
            }
          }
        }
        a {
          padding: 15px 10px;
          display: inline-block;
          text-decoration: none;
          line-height: 1.3;
          font-size: 18px;
          color: $menu-color;
          @include transition(color .25s ease-in-out);
          &::after {
            display: block;
            content: "";
            border-bottom: 1px solid $menu-color;
            margin-left: -2px;
            margin-right: -2px;
            @include transition(border-color .25s ease-in-out);
          }
          &:hover, &:focus {
            color: $primary-color;
            &::after {
               border-bottom: 1px solid $primary-color;
            }
          }
        }
      }
    }
}



.paragraph--type--call-to-action {
  border-bottom: 2px solid $white;
  .image.field-name-field-image {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: rgba(0,0,0,.65);
      z-index: 1;
    }
    img {
      width: 100%;
      @include breakpoint(medium down) {
        object-fit: cover;
        object-position: center;
        min-height: 540px;
      }
    }
  }
  figure {
    position: relative;
    figcaption {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      @include transform(translateY(-50%));
      color: $white;
      max-width: $global-width;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      width: 100%;
    }
    .cat-caption {
      max-width: 1000px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
      @include breakpoint(mediumplus) {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
      }
      .field-name-field-title {
        @include h2;
        line-height: 1.2;
        margin-bottom: 60px;
        &::before {
          width: 190px;
          content: "";
          display: block;
          padding-top: 2px;
          background-color: $primary-color;
          margin-bottom: 25px;
        }
        &> .field-items {
          max-width: 14em;
        }
        @include breakpoint(mediumplus) {
          padding: 0 25px;
          margin-bottom: 0;
          width: 58.3333%;
        }
      }
      .field-name-field-link {
        @include breakpoint(mediumplus) {
          text-align: center;
          padding: 0 25px;
          width: 41.6667%;
        }
      }
    }
  }
}



.paragraph--type--text-blocks {
  .paragraph--type--text-block {
    &> .paragraph-container {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1000px;
        margin: 0 auto;
        @include padding-bottom;
        @include breakpoint(mediumplus) {
          padding-left: 25px;
          padding-right: 25px;
        }
      &> .paragraph-content {
      }
    }
  }
}
.field-name-field-text-blocks {
  &>.field-items {
    @include breakpoint(mediumplus) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
    }
  }
}


.paragraph--type--text-image {
  &>.paragraph-container{
    @include padding-bottom(130);
    &> .paragraph-content {
      max-width: 1000px;
      margin: 0 auto;
      @include breakpoint(mediumplus) {
        display: flex;
        align-items: center;
      }
      &>div.text-wrapper, &>figure {
        @include breakpoint(mediumplus) {
          width: 50%;
        }
      }
      &>div.text-wrapper {
        padding-left: 30px;
        padding-right: 30px;
        @include breakpoint(mediumplus) {
          padding-left: 25px;
          padding-right: 25px;
        }
        .field-name-field-title {
          @include h2;
          line-height: 1.2;
          margin-bottom: 25px;
        }
        .field-name-field-sub-title {
          font-size: 20px;
          font-weight: $global-weight-bold;
          margin-bottom: 5px;
        }
      }
      &>figure {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        @include breakpoint(mediumplus) {
          padding-left: 25px;
          padding-top: 0;
          padding-bottom: 0;
          padding-right: 25px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  &.option-image-right {
  }

  &.option-image-left {
    .paragraph-content {
      @include breakpoint(mediumplus) {
        flex-direction: row-reverse;
      }
    }
  }
}

.paragraph--type--map-form {
  @include flex-grid-row();
  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-contact-data {
      background-color: $primary-color;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;
      @include breakpoint(medium) {
        padding: 30px 15px;
      }
      @include breakpoint(large) {
        padding: 30px 60px;
      }

      a {
        color: $white;
        transition: color .25s ease-out;
        &:hover, &:focus {
          color: darken($white, 20%);
        }
      }

      &>.field-items > .field-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
          margin-bottom: 0;
        }
        @include breakpoint(smallplus) {
          flex-wrap: unset;
          flex-direction: row;
        }
        .main-contact-data, .field-name-field-branches {
          text-align: center;
          @include breakpoint(smallplus) {
            text-align: left;
            flex: 1 0 50%;
          }
        }
        .main-contact-data{
          @include breakpoint(smallplus) {
            padding-right: 15px;
            text-align: left;
          }
        }
        .field-name-field-branches {
          @include breakpoint(smallplus) {
            padding-left: 15px;
            text-align: left;
          }
        }
      }
    }
  }
  .form-field-wrapper {
    @include flex-grid-column(1 of 1);
    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
    }
    @include breakpoint(large) {
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

// .paragraph--type--image {
//   @include flex-grid-row();
//   justify-content: center;
//   .field-name-field-image {
//     @include grid-col-gutter();
//   }
// }



/*  */
.paragraph--type--methods {
  &>.paragraph-container {
    @include padding-top-bottom;
    position: relative;
    &::before {
      content: "";
      height: 100%;
      width: 52%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $light-gray;
    }
    &> .paragraph-content {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        @include breakpoint(mediumplus) {
          padding-left: 25px;
          padding-right: 25px;
        }
        &> .field-name-field-method {
          position: relative;
          &::before  {
            position: absolute;
            height: calc(100% - 36px);
            width: 2px;
            background-color: $black;
            content: "";
            top: 19px;
            left: 19px;
          }
        }
      }
  }
  .field-name-field-method {
      div.field-item {
        display: flex;
        &:not(:last-child) {
          padding-bottom: 30px;
          @include breakpoint(medium) {
            padding-bottom: 60px;
          }
          @include breakpoint(mediumplus) {
            padding-bottom: 80px;
          }
        }
        &:last-child {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 18px;
            width: 4px;
            background-color: $light-gray;
            top: 10px;
            height: calc(100% - 10px);
          }
        }
        span.oval{
          margin-right: 15px;
          min-width: 38px;
          min-height: 38px;
          max-width: 38px;
          max-height: 38px;
          border-radius: 50%;
          border: 2px solid $black;
          position: relative;
          background-color: $light-gray;
          @include breakpoint(medium) {
            margin-right: 30px;
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            height: 0px;
            width: 0px;
            background-color: $black;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            top: 50%;
            left: 0;
            right: 0;
            @include transform(translateY(-50%));
            margin: auto;
            @include transition(all .15s ease-in-out);
          }
          &:hover {
            &::after {
              width: 18px;
              height: 18px;
            }
          }
        }
        &:first-child {
            span.oval{
              &::after {
                @include transition(all .32s ease-in-out);
              }
            }
        }
        &.active, &.first {
          span.oval {
            &::after {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
      .number-text {
        @include breakpoint(mediumplus) {
          padding-left: 30px;
        }
        display: flex;
        .number-wrapper {
          font-size: 29px;
          font-weight: $global-weight-bold;
          padding-right: 6px;
        }
        .paragraph--type--method {
          .field-name-field-title {
            font-size: 29px;
            margin-bottom: 15px;
          }
          .field-name-field-text {
            min-height: 100px;
          }
        }
      }
  }
}



.content-viewport {
  width: 1px;
  height: 1px;
  left: 5px;
  top: 80%;
  position: fixed;
  z-index: -1;
  @include breakpoint(medium) {
    top: 70%;
  }
  @include breakpoint(mediumplus) {
    top: 60%;
  }
}
/*  */


.paragraph--type--tabs {
  @include padding-top;
  &> .paragraph-container {
    @include padding-top-bottom;
    @include breakpoint(mediumplus) {
      background-color: $light-gray;
    }
    &> .paragraph-content {
        max-width: 1000px;
        margin: 0 auto;
        @include breakpoint(mediumplus) {
          padding: 0 25px;
        }
        &> .field-name-field-tab {
          background-color: $white;
          .tabs-panel {
            max-width: 810px;
            padding: 80px 30px 130px;
            margin: auto;
          }
        }
    }
  }
  ul.tabs {
    @include show-for($mobile-nav-breakpoint);
    position: relative;
    border-top: 2px solid $primary-color;
    max-width: 100%;
    width: 100%;
    display: table;
    background-color: $light-gray;
    border-bottom: 2px solid $primary-color;
    &> li {
      display: table;
      height: 110px;
      @include transition(all .32s ease-in-out);
      border-right: 2px solid $primary-color;
      position: relative;
      margin-bottom: -2px;
      &:last-child {
        border-right: none!important;
      }
      &> a {
        color: $body-font-color;
        font-size: 20px;
        padding: 15px 30px;
        display: block;
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        position: relative;
        @include transition(all .32s ease-in-out);
        &:after {
          content: '';
          opacity: 0;
          background-color: $primary-color;
          height: 1px;
          margin-top: 4px;
          margin-left: auto;
          display: block;
          @include transition(all .32s ease-in-out);
          width: 27px;
        }
        &:hover, &:focus {
          color: $primary-color;
          background-color: transparent;
          &:after {
            opacity: 1;
          }
        }
      }
      &:hover, &:focus {
        background-color: $white;
        a {
          &:after {
            opacity: 1;
          }
        }
      }
      &.is-active {
        background-color: $white;
        a {
          font-weight: $global-weight-bold;
          font-style: italic;
          background-color: transparent;
          color: $black;
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  .dropdown {
    .dropdown-menu {
      display: none;
      @include transition(all 0.35s ease-in-out);
      position: absolute;
      top: 100%;
      z-index: 1;
      min-width: 200px;
      margin: 0;
      @include breakpoint(largemin down) {
        left: 0;
      }
      @include breakpoint(large) {
        right: 0;
      }
      li {
        float: none;
        list-style: none;
        display: block;
        a,
        span {
          text-align: center;
          display: block;
          &:after {
            display: none;
          }
        }
      }
    }
    &.open {
      @include transition(0.35s);
      .dropdown-menu {
        display: block;
      }
    }
  }
  .paragraph--type--tab {
    &> .paragraph-container {
      &> .paragraph-content {
        &> .field-name-field-title {
          @include hide-for($mobile-nav-breakpoint);
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
  }
  .paragraph--type--text-block {
    padding-bottom: 30px;
  }
  .paragraph--type--image + .paragraph--type--double-image,
  .paragraph--type--double-image + .paragraph--type--image {
    padding-top: 50px;
  }
  .desktop-hide, .tabs-content:not(.mobile-hide) {
    @include breakpoint(mediumplus) {
      display: none!important;
    }
  }
  .tabs, .mobile-hide {
    @include breakpoint(medium down) {
      display: none!important;
    }
  }
  .desktop-hide.accordion {
    .accordion-item {
      border-top: 2px solid $primary-color;
      &:last-child {
       border-bottom: 2px solid $primary-color;
      }
      a.accordion-title {
          color: $body-font-color;
          font-size: 20px;
          padding: 30px;
          display: block;
          vertical-align: middle;
          margin: auto;
          position: relative;
          @include transition(all .32s ease-in-out);
          border: none;
          &::before {
            font-weight: $global-weight-bold;
            color: $body-font-color;
          }
          span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            &:after {
              content: '';
              opacity: 0;
              background-color: $primary-color;
              height: 1px;
              margin-top: 4px;
              margin-left: auto;
              display: block;
              @include transition(all .32s ease-in-out);
              width: 27px;
          }
          }
      }
      &.is-active {
        a {
          font-weight: $global-weight-bold;
          font-style: italic;
          background-color: $white;
          span::after {
            opacity: 1;
          }
        }
      }
      .accordion-content  {
        padding: 15px 30px 30px;
        border: none;
      }
    }
  }
}
.paragraph--type--double-image {
  .field-name-field-double-image {
    &> .field-items {
      @include breakpoint(smallplus) {
       display: flex;
      }
      &> img {
        width: 100%;
        margin-bottom: 30px;
        @include breakpoint(smallplus) {
          margin-bottom: 0;
        }
        &:first-child {
          @include breakpoint(smallplus) {
            padding-right: 7.5px;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
          }
        }
        &:last-child {
          @include breakpoint(smallplus) {
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
            padding-left: 7.5px;
          }
        }
      }
    }
  }
}


.paragraph--type--image-text-small {
  padding-bottom: 60px;
  &> .paragraph-container {
      &> .paragraph-content {
        @include breakpoint(mediumplus) {
          display: flex;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
        }
        &> .field-name-field-text {
          @include breakpoint(mediumplus) {
            width: 58.333333%;
          }
        }
        &> .image.field-name-field-image {
          @include breakpoint(mediumplus) {
            padding-right: 30px;
            width: 41.6667%;
          }
        }
      }
  }
}
.field-name-field-tab-paragraphs {
  &> .field-items {
    &> .paragraph:last-child {
      padding-bottom: 0;
    }
  }
}


.paragraph--type--video {
  &> .paragraph-container {
    @include padding-bottom;
    &> .paragraph-content {
      max-width: 1000px;
      margin: 0 auto;
      @include breakpoint(mediumplus) {
        padding: 0 25px;
      }
    }
  }
}

/* common-paragraph-gaping */
.paragraph--type--tabs {
  &+ .paragraph--type--slider {
    &> .paragraph-container {
      &::before {
        content: '';
        background-color: $light-gray;
        width: 100%;
        padding-bottom: 70px;
        margin-bottom: -70px;
        top: 0;
        display: block;
      }
      &> .paragraph-content {
        position: relative;
        &::after {
          content: "";
          height: 2px;
          border-bottom: 2px solid $primary-color;
          width: 190px;
          display: block;
          position: absolute;
          left: -15px;
          top: -2px;
        }
      }
    }
  }
}



.paragraph--type--quote-title-text {
  &+ .paragraph--type--quote {
    &> .paragraph-container {
      @include padding-top;
      padding-bottom: 0;
    }
  }
}
.paragraph--type--quote {
  &+ .paragraph--type--video {
    &> .paragraph-container {
        @include padding-top;
    }
  }
}


.paragraph--type--video {
  &+ .paragraph--type--text-image {
    &> .paragraph-container {
      padding-top: 30px;
      @include breakpoint(mediumplus) {
        padding-top: 30px;
      }
      @include breakpoint(large) {
        padding-top: 60px;
      }
      @include breakpoint(xlarge) {
        padding-top: 100px;
      }
    }
  }
}

.paragraph--type--text-image {
  &+ .paragraph--type--text-image {
    &> .paragraph-container {
      @include breakpoint(mediumplus) {
        margin-top: -20px;
      }
      @include breakpoint(large) {
        margin-top: -40px;
      }
      @include breakpoint(xlarge) {
        margin-top: -60px;
      }
    }
  }
  &+ .paragraph--type--call-to-action {
      @include breakpoint(mediumplus) {
        padding-top: 20px;
      }
      @include breakpoint(large) {
        padding-top: 40px;
      }
      @include breakpoint(xlarge) {
        padding-top: 50px;
      }
  }
}

.field-name-field-tab{
  .dropdown-menu{
    background-color: white;
  }
}
