
.pagination-wrapper {
  padding: 2px;
  .pagination-inner {
     display: flex;
     -webkit-align-items: center;
     align-items: center;
     .swiper-pagination {
      position: relative;
      &.swiper-bullet {
        display: flex;
        .swiper-pagination-bullet {
          display: flex;
          height: 16px;
          width: 16px;
          background-color: transparent;
          line-height: 0;
          font-size: 0;
          color: transparent;
          outline: none;
          box-shadow: none;
          opacity: 1;
          &:not(:last-child) {
            margin-right: 6px;
          }
          &::before {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $black;
            margin: auto;
            @include transition(all .25s ease-in-out);
          }
          &:hover {
            &::before {
              background-color: $primary-color;
            }
          }
          &.swiper-pagination-bullet-active {
            &::before {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
    .circle-wrapper {
      position: relative;
      margin-left: 12px;
      border-radius: 50%;
      .swiper-number {
        display: flex;
        width: 64px;
        height: 64px;
        border: 1px solid $black;
        position: relative;
        border-radius: 50%;
        .swiper-pagination-bullet {
          height: 62px;
          width: 62px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: transparent;
          color: $black;
          outline: none;
          box-shadow: none;
          opacity: 0;
          border-radius: 50%;
          line-height: 62px;
          text-align: center;
          visibility: hidden;
          @include transition(opacity .32s ease-in-out);
          &.swiper-pagination-bullet-active {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .circle.left {
        clip: rect(0, 66px, 66px, 33px);
      }

      .circle.right {
        clip: rect(0px, 33px, 66px, 0px);
      }
      .circle.left,
      .circle.right {
        position: absolute;
        width: 66px;
        height: 66px;
        top: -2px;
        left: -2px;
        right: -2px;
        z-index: 9;
      }

      .circle span {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          position: absolute;
          opacity: 1;
          border: 3px solid $black;
          top: 0;
          left: 0;
      }
      .swiper-pagination-bullet-active {
        .circle.left span {
            clip: rect(0px, 33px, 66px, 0px);
            animation: rotate-left 3300ms forwards  linear;
            -webkit-animation: rotate-left 3300ms forwards  linear;
        }

        .circle.right span {
            clip: rect(0, 66px, 66px, 33px);
            animation: rotate-right 3300ms forwards  linear;
            -webkit-animation: rotate-right 3300ms forwards  linear;
        }
      }
    }
  }
}





.home.full {
  .page-header {
    @include breakpoint(mediumplus) {
      margin-bottom: 40px; 
    }
    @include breakpoint(large) {
      margin-bottom: 60px; 
      padding-right: 15px;
    }
    .pagination-wrapper {
      width: 100%;
      margin-left: auto;
      padding: 0 30px;
      @include breakpoint(mediumplus) {
        width: 41.6667%;
      }
      .pagination-inner {
         display: flex;
         max-width: 320px;
         margin-left: auto;
         margin-right: auto;
         height: 145px;
         -webkit-align-items: center;
         align-items: center;
         @include breakpoint(medium down) {
          height: 115px;
          -webkit-justify-content: center;
          justify-content: center;
        }
      }
    }
  }
  figure.slides-wrapper {
      position: relative;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @include breakpoint(medium down) {
        -webkit-align-items: center;
        align-items: center;
      }
      @include breakpoint(mediumplus) {
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-bottom: -145px;
      }
    .field-name-field-slides.swiper-container {
      max-width: calc(100% - 45px);
      margin-right: auto;
      margin-left: 0;
      @include breakpoint(mediumplus) {
        max-width: 100%;
        width: 100%;
        margin-top: -25px;
        margin-right: -41.6667%;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 41.6667%;
          background-color: $white;
          right: 0;
          top: 0;
          z-index: 1;
        }
      }
      @include breakpoint(large) {
        margin-top: -35px;
      }
    }
    figcaption {
      background-color: $light-gray;
      padding-left: 30px;
      padding-right: 30px;
      @include breakpoint(medium down) {
        padding-top: 40px;
        padding-bottom: 30px;
      }
      @include breakpoint(mediumplus) {
        max-width: 41.6667%;
        width: 41.6667%;
        display: flex;
        padding: 15px 30px;
        position: relative;
        z-index: 2;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 145px;
      }
      @include breakpoint(large) {
        padding: 20px 40px;
      }
      .slides-caption {
        max-width: 320px;
        margin-right: auto;
        @include breakpoint(mediumplus) {
          margin-left: auto;
        }
        width: 100%;
        &::before {
          width: 190px;
          content: "";
          display: block;
          padding-top: 2px;
          background-color: $primary-color;
          margin-bottom: 30px;
        }
      }
      .body {
        .field-item {
          p {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}


.paragraph--type--slider {
  .field-name-field-images {
    .swiper-slide {
      width: auto;
    }
    .pagination-wrapper {
      margin-top: 34px;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      @include breakpoint(mediumplus) {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
    }
  }
}




@-webkit-keyframes rotate-left {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(180deg); }
}

@-webkit-keyframes rotate-right {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(180deg); }
}

@keyframes rotate-left {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(180deg); }
}

@keyframes rotate-right {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}